## Build and publish outputs
bin/
obj/
out/
publish/
artifacts/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## .NET Core & .NET 8
project.lock.json
project.fragment.lock.json

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## NuGet packages
*.nupkg
*.snupkg

## MSBuild Binary and Structured Log
*.binlog

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
nunit-*.xml
*.VisualState.xml
CodeCoverage/

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## Visual Studio folder (do not include .vs files)
.vs/

## Windows image file caches
Thumbs.db
ehthumbs.db

## Other system files
Desktop.ini
$RECYCLE.BIN/

## Temporary files
~$*
*~
*.tmp